<div class="p-4" style="position:relative">
    <div class="container">
        <h1>Your Rooms</h1>  
        <h3>Click on their name to view metrics corresponding to that room</h3>

        <div>
            <a style="color: blue; text-decoration: underline; " routerLink="/room1" routerLinkActive="active">Room 1</a>
        </div>

        <div>
            <a style="color: blue; text-decoration: underline;" routerLink="/room2" routerLinkActive="active">Room 2</a>
        </div>

        <div>
            <a style="color: blue; text-decoration: underline;" routerLink="/room3" routerLinkActive="active">Room 3</a>
        </div>
    
    </div>

</div>

